*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    220deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

form {
  background-color: white;
  border-radius: 0.4em;
  padding: 2rem;
  transition: 0.5s;
}

form:hover {
  transform: scaleX(1.2);
}

input {
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.425);
  padding: 0.7em 1em;
  margin-right: 1em;
  transition: 0.3s;
}

input:focus {
  border-color: blue;
}

i[aria-visible="true"] {
  display: inline;
}

i[aria-visible="false"] {
  display: none;
}
