*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2em;
}

h1 {
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  margin-top: 1em;
}

.item {
  flex-grow: 1;
  flex-basis: 300px;
  border: 2px solid black;
  border-radius: 1em;
  padding: 1em;
}
