* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.App img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
