* {
  margin: 0;
  padding: 0;
}

.loader {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(31, 27, 4, 1) 0%,
    rgba(106, 0, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.loader .loader-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px 4px lightgreen;
  animation: loader 2s infinite;
}

.loader .loader-item-1,
.loader .loader-item-5 {
  animation-delay: 0.03s;
}

.loader .loader-item-3 {
  animation: none;
}

.loader .loader-item-2,
.loader .loader-item-4 {
  animation-delay: 0.05s;
  animation: loader2 2s infinite;
}

@keyframes loader {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(40px);
  }

  20% {
    transform: translateY(-40px);
  }

  30% {
    transform: translateY(30px);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(20px);
  }

  60% {
    transform: translateY(-20px);
  }

  70% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-10px);
  }

  90%,
  100% {
    transform: translateY(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(80px);
  }

  20% {
    transform: translateY(-80px);
  }

  30% {
    transform: translateY(50px);
  }

  40% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(30px);
  }

  60% {
    transform: translateY(-30px);
  }

  70% {
    transform: translateY(20px);
  }
  80% {
    transform: translateY(-20px);
  }

  90%,
  100% {
    transform: translateY(0);
  }
}
