*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

button {
  background-color: #6661f6;
  border: 1px solid #6661f6;
  padding: 0.5em 1em;
  margin: 1em;
  color: white;
  border-radius: 0.5em;
  font-weight: bold;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.192);
  transition: 0.2s;
}

button:active {
  transform: scale(0.9);
}
