*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: sans-serif;
}

article {
  position: relative;
  width: 300px;
  height: 400px;
  background: url("https://images.unsplash.com/photo-1503454537195-1dcabb73ffb9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80");
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  overflow: hidden;

  padding: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s;
}

article::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.251), rgba(0, 0, 0, 0.792));
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

article:hover::before {
  opacity: 1;
}

article h1 {
  font-size: 2rem;
  z-index: 1;
  opacity: 0;
  margin-bottom: 0.5em;
  transform: translateX(-100%);
  transition: 0.2s ease;
}

article p {
  z-index: 1;
  opacity: 0;
  transform: translateX(-120%);
  transition: 0.2s ease 0.1s;
}

article:hover p,
article:hover h1 {
  opacity: 1;
  transform: translateX(0);
  color: #fcba03;
}

article:hover {
  transform: translateY(-20px) rotate(10deg);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.504);
}
